.container {

  background-color: #172842;
  min-height: 100vh;
  min-width: 250vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;

}

.main-container {

  min-width: 100vh;

  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
}

.title {
  font-size: 1.5rem;
  /* Equivalent to text-2xl in Tailwind */
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  /* Equivalent to mb-8 in Tailwind */
  margin-top: 0.5rem;
  /* Equivalent to mt-2 in Tailwind */
  margin-left: 1rem
}

.form-container {
  margin-bottom: 1rem;
  /* Equivalent to mb-4 in Tailwind */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 0.75rem;
  /* Equivalent to gap-y-3 in Tailwind (3 * 0.25rem) */
}